wanderlust.travel {
	tls C:/Users/Nosch/Desktop/wanderlust/certs/cert.pem C:/Users/Nosch/Desktop/wanderlust/certs/key.pem
	reverse_proxy localhost:3001
}

flyskyway.com {
	tls C:/Users/Nosch/Desktop/wanderlust/certs/cert.pem C:/Users/Nosch/Desktop/wanderlust/certs/key.pem
	reverse_proxy localhost:3002
}

overdrive.cars {
	tls C:/Users/Nosch/Desktop/wanderlust/certs/cert.pem C:/Users/Nosch/Desktop/wanderlust/certs/key.pem
	reverse_proxy localhost:3003
}
