.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-family: inherit;
}

.homeTitle {
  width: 1024px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.homeCards {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.homeCards .card {
  flex: 1;
}

.homeCards .card-body {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex: 1;
  padding: 16px;

  #cars & {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.homeCards img {
  object-fit: cover;
  border-radius: 7px;

  #flights & {
    width: 150px;
    height: auto;
  }

  #cars & {
    width: 100%;
    height: 100%;
    max-width: 300px;
    border-left: none;
    margin-top: 12px;
  }
}
.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

// Order and visibility of home items for each site
$homeItemsMap: (
  "hotels": (
    "loved",
    "types",
    "cities",
  ),
  "flights": (
    "cities",
    "offers",
    "types",
  ),
  "cars": (
    "types",
    "offers",
    "cities",
  ),
);

.homeItem {
  display: none;
}
@each $site, $homeItems in $homeItemsMap {
  @each $section in $homeItems {
    ##{$site} .homeItem[data-section="#{$section}"] {
      display: initial !important;
      order: index($homeItems, $section);
    }
  }
}
